{% extends 'common/base.html' %}

{% load i18n %}

{% block content %}
<div class="row pb-3">
    <div class="col">
        <a href="{% url 'common:create_category' %}" class="btn btn-primary">{% trans 'Create category' %}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <ul class="list-group list-group-flush">
            {% if object_list %}
                {% for category in object_list %}
                    <li class="list-group-item">
                        <a href="">{{ category.name }}</a>
                        <div class="float-right">
                            <a href="{% url 'common:delete_category' category.pk %}" class="badge badge-danger">{% trans 'Delete' %}</a>
                            <a href="{% url 'common:update_category' category.pk %}" class="badge badge-info">{% trans 'Edit' %}</a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
              <li class="list-group-item">{% trans 'No categories' %}</li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
